body {
    font-family: 'Public Sans', sans-serif;
}

/*Sidebar Styles*/
.brand-link span {
    font-weight: 500;
    font-family: "Encode Sans SC", sans-serif;
}

.nav-sidebar .nav-link {
    font-size: 0.90rem;
    font-weight: 300;
}

.nav-sidebar .nav-icon {
    vertical-align: middle;
    position: relative;
    top: -1px;
}
