body {
    font-family: 'Public Sans', sans-serif;
}

/*Sidebar Styles*/
.brand-link span {
    font-weight: 500;
    font-family: "Encode Sans SC", sans-serif;
}

.nav-sidebar .nav-link {
    font-size: 0.90rem;
    font-weight: 300;
}

.nav-sidebar .nav-icon {
    vertical-align: middle;
    position: relative;
    top: -1px;
}

/* DataTable Styles */
div.dt-container select.dt-input {
    margin-right: 10px;
}

/* Custom Badge Colors / Designs */
.badge-upcoming {
    background-color: transparent;
    border: 1.5px solid #3b82f6;
    color: #3b82f6;
    padding: 8px 10px;
    font-size: 0.78rem;
    border-radius: 10px;
}

.badge-ongoing {
    background-color: transparent;
    border: 1.5px solid #f59e0b;
    color: #f59e0b;
    padding: 8px 10px;
    font-size: 0.78rem;
    border-radius: 10px;
}

.badge-completed {
    background-color: transparent;
    border: 1.5px solid #10b981;
    color: #10b981;
    padding: 8px 10px;
    font-size: 0.78rem;
    border-radius: 10px;
}
