body {
    font-family: 'Public Sans', sans-serif;
}

/*Sidebar Styles*/
.nav-sidebar .nav-link {
    font-size: 0.95rem;
    font-weight: 300;
}

.nav-sidebar .nav-icon {
    vertical-align: middle;
    position: relative;
}
