<aside class="main-sidebar sidebar-light-primary elevation-4">
    @* App Brand *@
    <a href="~/Home/Index" class="brand-link d-flex align-items-center px-4">
        <img src="~/images/presence_logo.png" alt="Presence Logo"
             style="width: 30px; height: 30px; object-fit: contain; opacity: 0.8;">
        <span class="brand-text ml-3">Presence</span>
    </a>

    @* Sidebar Menu *@
    <div class="sidebar ">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-sliders mr-2"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-users mr-2"></i>
                        <p>Members</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Event" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt mr-2"></i>
                        <p>Events</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-clipboard-list mr-2"></i>
                        <p>Attendance</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>